.navbar-btn {
  margin-bottom: 5px;
  border: 1px dashed gray;
  border-radius: 10px;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 0px;
}

p {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 0px;
  display: inline-block;
}

.btn-delete: hover {
  color: red;
}

td {
  width: 30%;
}

.col {
  width: 20%;
  display: inline-block;
  align-items: center;
}
